pytorch_connectomics
outputs
Data/models
ExampleData/PremadePreds
ExampleData/Seperated_Images/_combined.tif
ExampleData/Seperated_Labels/_combined.tif
temp.yaml

*.yaml
*.json
*.tif
*.meta
*.h5
*.ply
*.pcd

!Data/configs/*.yaml
!ExampleData/chloroplastInstanceImages.tif
!ExampleData/chloroplastInstanceLabels.tif
!ExampleData/plasmSemanticImages.tif
!ExampleData/plasmSemanticLabels.tif
!ExampleData/Seperated_Images/
!ExampleData/Seperated_Labels/
